/*用绝对定位*/
*{
    margin: 0;
    padding: 0;
}
#main{
    position: relative;
}
/*推荐用padding而不用margin。因为JS待会要获取各个块和边距的高度*/
.box{
    padding: 15px 0 0 15px;
    float: left;
}
.pic{
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
}

.pic img{
    width: 165px;
    height: auto;
}
